.itemRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 2px solid #44aa44;
}

.itemRow > *{
    width: 23%;
    margin-bottom: 0;
}

.itemRow > span{
    display: block;
    height: 4rem;
    width: 2px;
    background-color: #44aa44;
}

.trashBtn{
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    font-size: 1.6rem;
    margin: auto;
    display: block;
    cursor: pointer;
}