#header__cart_box {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
#header__cart_box img { 
    width: 1.5em; 
    margin-right: .5rem;
}
  