nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5%;
  position: sticky;
  top: 0;
  background-color: var(--green);
  z-index: 10;
}

nav #logoNav img { width: 50px; }
nav .right {
  display: flex;
  align-items: center;
}

nav .right > div:nth-child(2) {
  display: block;
  width: 0.2rem;
  height: 2.2rem;
  background-color: #E2E2E2;
  margin-right: 1rem;
}

nav .right ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

nav .right ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav .right ul li a {
  text-decoration: none;
  color: #ffffff;
}

nav .right #navBtns a {
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 0.5rem;
  display: block;
}

@media (max-width: 700px) {
  nav {
    padding: 1rem 5% 1.5rem;
    flex-direction: column;
  }
  nav #logoNav { margin: auto; }
  nav .right { flex-direction: column; }
  nav .right #navLinks { padding: 0.5rem 0; }
  nav .right #navBtns li:last-child { margin-right: 0; }
  nav .right #navBtns a { padding: 0.1rem 1rem; }
  nav .right > div { display: none; }
}