.cardContainer{
    display: grid;
    gap: 3vw;
    padding-top: 2.5rem;
}

.productCard{
    border: 1px solid #16423C;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.productCard img{
    margin: auto;
    display: block;
}
.txtBox_card{
    padding: 2rem;
}
.txtBox_card h3{
    font-size: 1.7rem;
}
.txtBox_card p:last-child{
    border: 2px solid transparent;
    background-color: #16423C;
    margin: auto;
    display: block;
    width: fit-content;
    padding: .5rem 2rem;
    border-radius: 2rem;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.productCard:hover p:last-child{
    border: 2px solid #16423C;
    background-color: transparent;
    color: #16423C;
}

.productCard .txtBox_card p{
    margin-top: 1rem;
}